<template>
  <h1 class="text-2xl font-bold mb-1 text-center">
    Family Football
  </h1>
  <h2 class="font-bold text-center">
    Week {{ weekNumber }}
  </h2>
  <div class="m-10 mt-8">
    <GameTable
      :games="games"
      :picks="picks"
      :nicknames="nicknames"
      :winners="winners"
    ></GameTable>
  </div>
</template>

<script lang="ts">
import { Options, Vue } from 'vue-class-component'
import GameTable from '@/components/GameTable.vue'
import Week14 from '@/store/week14'

@Options({
  components: {
    GameTable
  }
})
export default class Home extends Vue {
  weekNumber = 14
  games = Week14.state.games
  picks = Week14.state.picks
  nicknames = Week14.state.nicknames
  winners = Week14.state.winners
}
</script>
