<template>
  <div class="text-center">
    <iframe src="https://docs.google.com/forms/d/e/1FAIpQLSemJ_siaQcyOhhu1y0OTujDSeQGlfR2flua0N0PT4V3BK-Qag/viewform?embedded=true" width="100%" height="3750px" frameborder="0" marginheight="0" marginwidth="0">Loading…</iframe>
  </div>
</template>

<script lang="ts">
import { Vue } from 'vue-class-component'

export default class Picks extends Vue {}
</script>
