<template>
  <table class="border-collapse lg:text-xs text-center w-full">
    <thead>
      <tr>
        <th
          class="p-3 font-bold uppercase bg-gray-200 text-gray-800 border border-gray-500 hidden lg:table-cell"
        ></th>
        <th
          v-for="game, gameId in games"
          :key="gameId"
          class="p-3 font-bold uppercase bg-gray-200 text-gray-800 border border-gray-500 hidden lg:table-cell"
        >{{ game.away }} @ {{ game.home }}</th>
        <th
          class="p-3 font-bold uppercase bg-gray-200 text-gray-800 border border-gray-500 hidden lg:table-cell"
        >TB</th>
      </tr>
    </thead>
    <tbody>
      <tr
        v-for="personPicks, personName in picks"
        :key="personName"
        class="bg-white flex lg:table-row flex-row lg:flex-row flex-wrap lg:flex-no-wrap mb-10 lg:mb-0"
      >
        <td
          :title="personName"
          class="app-custom-width bg-gray-100 font-bold p-3 text-gray-800 lg:text-right border border-gray-500 block lg:table-cell relative lg:static"
          :class="{ 'small-font': personName === 'Stacey' }"
        >{{ nicknames[personName] }}</td>
        <td
          v-for="pick, gameId in personPicks"
          :key="pick"
          class="w-full lg:w-auto p-3 text-gray-800 text-center border
          border-gray-500 block lg:table-cell relative lg:static"
          :class="{
            'bg-green-200': winners[gameId] && winners[gameId] === pick,
            'bg-red-200': !Number(pick) && winners[gameId] && winners[gameId] !== pick
          }"
        >
          <span v-if="games[gameId]">
            {{ games[gameId][pick] }}
          </span>
          <span v-else>
            {{ personPicks.tiebreaker }}
          </span>
        </td>
      </tr>
      <tr
        class="bg-white flex lg:table-row flex-row lg:flex-row flex-wrap lg:flex-no-wrap mb-10 lg:mb-0"
      >
        <td
          class="p-3 font-bold uppercase bg-gray-200 text-gray-800 border border-gray-500 hidden lg:table-cell"
        ></td>
        <td
          v-for="winner, gameId in winners"
          :key="winner"
          class="p-3 font-bold uppercase bg-gray-200 text-gray-800 border border-gray-500 hidden lg:table-cell"
        >
          <span v-if="games[gameId]">
            {{ games[gameId][winner] }}
          </span>
          <span v-else>
            {{ winners.tiebreaker }}
          </span>
        </td>
      </tr>
    </tbody>
  </table>
</template>

<script lang="ts">
import { Options, Vue } from 'vue-class-component'

@Options({
  props: {
    games: {},
    picks: {},
    nicknames: {},
    winners: {}
  }
})
export default class GameTable extends Vue {}
</script>

<style scoped lang="stylus">
.app-custom-width
  min-width 100%
  max-width 100%
  @media screen and (min-width: 1024px)
    min-width 200px
    max-width 200px

.small-font
  font-size 18px
  @media screen and (min-width: 1024px)
    font-size 10.5px
</style>
