<template>
  <link href="https://unpkg.com/tailwindcss@^1.0/dist/tailwind.min.css" rel="stylesheet">
  <router-view/>
</template>

<style lang="stylus">
#app
  font-family -apple-system, BlinkMacSystemFont, Helvetica Neue, Helvetica, Arial, sans-serif
  -webkit-font-smoothing antialiased
  -moz-osx-font-smoothing grayscale
  text-align center
  color #2c3e50
  margin-top 40px

html
  font-size 18px
  font-weight 500
</style>
